*{
  padding: 0;
  margin: 0;
  color: black;
  scroll-padding-top: 45px;
  font-family: "helvetica";
}

body{
  overflow-x: hidden;
}

h1{
  text-align: center;
}

p{
  margin-top: 30px;
}

ul{
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

li{
  float: right;
}

li a {
  font-weight: 100;
  display: block;
  padding: 14px 16px;
  text-decoration: underline 0.10em rgba(0, 0, 0, 0);
  transition: text-decoration-color 350ms;
  text-underline-offset: 0.4em;
}

li a:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}

section{
  display: inline-block;
  height: 70%;
  width: 100%;
}



#about{
  background-color: white;
  height: auto;
}

.first-half{
  margin-bottom: 100px;
}

.introduction{
  float:right;
  margin-right: 300px;
  width: 400px;
}

img{
  margin-left: 200px;
  margin-top: 50px;
}

.introduction h1{
  font-weight: 500;
  text-align: left;
  margin-top: 70px;
  color: black;
}

.introduction h3{
  font-weight: 300;
  color: black;
}

.introduction p{
  font-weight: 100;
}

#contact{
  height: 400px;
  /* background-color: #fafafa; */
  background-color: white;
}

.contact{
  font-size: 75px;
  font-weight: 100;
  text-align: left;
  margin-left: 100px;
  margin-top: 50px;
  text-decoration: underline 0.05em rgba(0, 0, 0, 1);
  text-underline-offset: 0.2em;
}

h2{
  font-weight: 100;
  margin-left: 100px;
  margin-top: 25px;
}

h2 a{
  text-decoration: none;
  transition: color 350ms;
}

h2 a:hover{
  color: #e04b43;
}

.fa-envelope{
  font-size:4px
}

.linkedin:hover{
  color:#0072B1;
}

.github:hover{
  color:#3fb64f;
}


footer{
  font-weight: 100;
  background-color: white;
  margin: 20px auto;
  margin-top: 60;
  text-align: center;
}

#blog{
  height: auto;
  margin-bottom: 60px;
}

button{
  transition: width 1000ms;
}

.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 25px;
  border: none;
  text-align: left;
  outline: none;
  font-weight: 200;
  font-size: 30px;
  text-decoration: underline 0.1em rgba(0, 0, 0, 1);
  text-underline-offset: 0.4em;
  transition: color 400ms, background-color 400ms, text-decoration-color 400ms;
  width: 100%;
}

.active, .collapsible:hover {
  background-color: black;
  text-decoration-color: white;
  color: white;
}

.content {
  background-color: white;
  font-weight: 100;
  transition: max-height 0.35s ease-out;
  max-height: 0px;
  width: 50%;
  overflow: hidden;
}

.left{
  float: left;
  margin-left: 200px;
}

.right{
  margin-right: 200px;
  float: right;
}

.education p{
  margin-top: 0;
  margin-bottom: 20;
}

.cv{
  background-color: white;
  border: 1.5px solid black;
  width: 150px;
  height: 40px;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 100;
  padding: auto;
  margin-left: auto;
  color: black;
  cursor: pointer;
  transition: color 300ms, border-color 300ms;
}

.cv:hover{
  color: #ef1a25;
  border-color: #ef1a25;
}

hr {
  width: 10000px;
  position: absolute;
}

i{
  margin-left: -2px;
  transition: color 350ms;
}

.fa-envelope:hover{
  color:#e04b43;
}

.fa-linkedin-square:hover{
  color:#0072B1;
}

.fa-github:hover{
  color:#3fb64f;
}

.machineVideo{
  float: right;
}

.pokerVideo{
  float: left;
}

.square {
  margin-top: 100px;
  margin-left: 10%;
  height: 500px;
  width: 500px;
  background-color: white;
  border: 2px solid black;
  ;
}

#project{
  margin-top: 45px;
  margin-bottom: 45px;
  height: 1000px;
}

.box2{
  height: 200px;
  width: 300px;
  border: 1px solid black;
  display: block;
  float: left;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.box2-h2{
  text-align: center;
  padding: 20px;
  margin: auto;
}
.projectBoxes{
  display: flex;
  justify-content: center;
}